:root{
    --bbh-hegarty-regular: "BBH Hegarty",sans-serif;
}

.bbh-hegarty-regular {
  font-family: "BBH Hegarty", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body{
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header, footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    height: 10vh;
    background-color: red;
    color: white;
    font-family: var(--bbh-hegarty-regular), sans-serif;
}

.main-container{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.inputform{
    margin: 10px;
}

#selectForm{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#showTotalsContainer{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.center{
    text-align: center;
}